.our-features{
    @include flex(row,wrap,center,center,center);
    background-color: $white-linen;
    background-image: url(../assets/img/features-background.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 80%;
    text-align: center;
    box-sizing: border-box;
    padding: 75px 10px;
    > .header-box{
        margin-top: 0;
        margin-bottom: 3em;
        width: 100%;
    }
    > .features-item{
        width: 70%;
        margin: 1.5em;
    }
    @include screen(tablet){
        > .features-item{
            width: 40%;
        }
    }
    @include screen(desktop){
        padding: 120px 10px;
        > .features-item{
            width: 20%;
        }
    }
}
