$port-gore: #202242;
$bright-sun: #ffe13e;
$dove-gray: #696969;
$wild-sand: #f5f3f3;
$silver-chalice: #a4a4a4;
$ripe-lemon: #f4d320;
$gallery: #ebebeb;
$mine-shaft: #2d2d2d;
$dolphin: #67687b;
$white-linen: #fbf8f1;
